.container {
	margin-top: 1em;
}

#chart {
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

#resetButton {
  background-color: #2c3e50;
  width: 75px;
  height: 25px;
  line-height: 25px;
  color: white;
  text-align: center;
  vertical-align: center;
  border-radius: 1em;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

#resetButton:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25);
}

.tradeToolTip {
  position: absolute;
	z-index: 10;
  visibility: hidden;
  border-radius: 0.75em;
  background: black;
  color: white;
	padding: 1em 1em;
}

.switch {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

